@media (min-width: 1024px) {
    .customSize {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .customSize {
        font-size: 15px;
    }
}

@media (min-width: 541px) and (max-width: 767px) {
    .customSize {
        font-size: 13px;
    }
}

@media (max-width: 540px) {
    .customSize {
        font-size: 10px;
    }
}