.paperam::after {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0;
    width: 0;
    height: 0;
    border: 20vw solid transparent;
    border-top: 0;
    border-left: 30vw solid rgba(55, 50, 122, 0.8);
    z-index: 1000;
}

@media (max-width: 800px) {
    .paperam::after {
        display: none !important;
    }
}

.mySwiper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}